:root{
    --primary-text-color:#757575;
    --primari-title-color:#212121;
    --primery-bg-color:#ffffff;
    --accent-color:#2196F3;
    --second-bg-color:#F5F4FA;
    --third-bg-color:#2F303A;
    --addres-second-color:rgba(255, 255, 255, 0.6);
    --second-logo-color:#000000;
}
*{outline: 1px solid red;}

body{
font-family: 'Roboto', sans-serif;
color: var(--primary-text-color) ;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em; width: 1600px;}

/* reset styles */
a{text-decoration: none;color: inherit;}
.list{list-style: none;margin: 0; padding: 0; }
h1,h2,h3,p{margin: 0;}

/* all containers */
.container{
width: 1200px;
padding: 94px 15px 94px 15px;
margin-left: auto;
margin-right: auto;}

/* hidden title */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;}

/* logo */
.logo{font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;}
.logo{color: var(--accent-color);}
.logo-studio-black{color: var(--second-logo-color);}
.logo-studio-white{color: var(--primery-bg-color);}

/* header */
.nav-link{color: var(--primari-title-color);}
.nav-link.current{color: var(--accent-color);}
.nav-link:hover,.nav-link:focus{color: var(--accent-color) ;}
.contacts-head{color: var(--primary-text-color);} 
.contacts-head:hover,.contacts-head:focus{color: var(--accent-color);}
.nav-link,.contacts-head{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

/* footer */
.footer{background-color: var(--third-bg-color);}
.town{color: var(--primery-bg-color);}
.footer-link{color: var(--addres-second-color);}
.footer-link,.town{font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
font-family: Roboto;
font-style: normal;}
.footer-link:focus,.footer-link:hover{color: var(--accent-color);}

/* main pg index */
/*     hero */
.hero{
text-align: center;
background-color: var(--third-bg-color);
width: 1600px;}

.main-title{
color: var(--primery-bg-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;}

.hero-container{
padding: 200px 452px;}

.hero-button{
background-color: var(--accent-color);
color: var(--primery-bg-color) ;
cursor: pointer;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
padding: 10px 32px;
border-radius: 4px;
border:0px;}

.hero-button:focus,.hero-button:hover{background-color:  #188CE8;}


/*    our-features */
.our-features-subtitle{color: var(--primari-title-color);
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

/*    specialization */
.specialization-title{color: var(--primari-title-color);
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;}

/*     team  */
.team{background-color: val(--second-bg-color);}
.team-title{color: var(--primari-title-color);
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;}
.team-subtitle{color: var(--primari-title-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;}
.team-text{font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;}

/* main pg portfolio */
/*     buttons */
.portfolio-button{
background-color: var(--second-bg-color);
color: var(--primari-title-color);
cursor: pointer;font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
padding: 6px 22px;
border: 0px;
border-radius: 4px;}
.portfolio-button:focus,.portfolio-button:hover{background-color: var(--accent-color);color: var(--primery-bg-color);}

/*     gallery */
.gallery h2{color: var(--primari-title-color);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;}
.gallery p{font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--primary-text-color);}
